.grid-field {
    &__table {
        .col-Entry {
            font-family: monospace;
        }
    }

    &__icon-action.edit-link {
        display: none;
    }
}

#Form_ItemEditForm_Entry {
    height: 20em;
    font-family: monospace;
    word-break: break-word;
}
